/*
Algumas informações úteis e dicas:
  - Fontes disponíveis:
    font-family: 'Roboto', sans-serif;
    font-family: 'Permanent Marker', cursive;
  - Cores:
    Tons de amarelo:
      #e4fc2b
      #e0d426
      #f7d736
      #e0af26
      #fcb02b
    Tons de cinza:
      #2c2c2c
      #4c4c4c
    Cores dos cards:
      #ead3a7
      #9de0f5
      #ef89ba
      #fae890
      #abe9c1
  - Sombra: https://codepen.io/sdthornton/pen/wBZdXq
 */

 html,
 body {
   font-family: "Roboto", sans-serif;
 }
 
 /* Você pode usar o CSS comentado abaixo, se ajudar */
 /* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
 .btn {
   position: relative;
   display: block;
   padding: 10px 15px;
   width: -webkit-fill-available;
   height: 3rem;
   overflow: hidden;
 
   border-width: 0;
   outline: none;
   border-radius: 2px;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
   font-weight: bold;
   font-size: large;

   background-color: #f7d736;
 
   transition: background-color 0.3s;
 }
 
 .btn > * {
   width: 100%;
 }
 
 .btn:before {
   content: "";
 
   position: absolute;
   top: 50%;
   left: 50%;
 
   display: block;
   width: 0;
   padding-top: 0;
 
   border-radius: 100%;
 
   background-color: rgba(236, 240, 241, 0.3);
 
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
 }
 
 .btn:active:before {
   width: 120%;
   padding-top: 120%;
 
   transition: width 0.2s ease-out, padding-top 0.2s ease-out;
 }
 
 .appbar {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   background-color: #f7d735;
   color: black;
   font-size: x-large;
   box-shadow: 3px 6px 9px rgba(0, 0, 0, 0.16), 3px 6px 9px rgba(0, 0, 0, 0.23);
 
 }
 
 .logo{
   width: 10rem;
   height: 5rem;
   margin: 10px;
 }
 
 .container{
   display:flex;
   flex-direction: column;
 }
 
 .form-card{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: white;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   color: black;
   width: 30%;
   margin-top: 3rem;
   padding: 10px;
   border-radius: 10px;
   align-self: center;
 }
 
 .form-card-title{
   font-family: 'Roboto', sans-serif;
   width: -webkit-fill-available;
   font-size: xx-large;
   font-weight: bold;
   margin-bottom: 1rem;
   border: white;
   color: black;
 }
 
 .autoresize{
   font-family: 'Roboto', sans-serif;
   resize: none;
   width: -webkit-fill-available;
   border: white;
   font-size: large;
 
 }
 
 .card-container{
   margin-top: 4rem;
   margin-left: 2rem;
   margin-right: 2rem;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
 }
 
 .card {
   margin: 0.5rem;
   width: 26rem;
   height: 16rem;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 
 .card-title{
   font-family: 'Permanent Marker', cursive;
   font-size: xx-large;
   font-weight: bold;
   margin: 0.5rem;
   padding: 1rem;
   text-align: left;
   align-self: first baseline;
 }
 
 .card-content{
   font-family: 'Permanent Marker', cursive;
   font-size: 1.6rem;
   height: -webkit-fill-available;

   display: flex;
   flex-direction: row;
   padding: 1rem;
   margin: 0.5rem;
   color: #4c4c4c;
   
   align-items: center;
   justify-content: center;
   text-align: center;
 }

 .card-color-1{
   background-color: #fae890;
   rotate: -2deg;
 }

 .card-color-2{
  background-color: #ef89ba;
  rotate: 1deg;
}

.card-color-3{
  background-color: #9de0f5;
  rotate: 0deg;
}

.card-color-4{
  background-color: #ead3a7;
  rotate: -2deg;
}

.card-color-5 {
  background-color: #abe9c1;
  rotate: -3deg;
}